[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HDMI
Exec=/home/pi/repos/pandemic_sterilization_chamber/app/hdmi.sh
Comment[en_US]=Hardware info
StartupNotify=true